[submodule "puppet/modules/php-brew"]
	path = puppet/modules/php-brew
	url = git@github.com:phpbrew/puppet-phpbrew.git
[submodule "puppet/modules/phalcon"]
	path = puppet/modules/phalcon
	url = git@github.com:phalcon/puppet.git
