/.vagrant/
/.data/
/nbproject/
/www/*
!/www/default/
/www/default/bower_components/
/www/default/node_modules/
/www/default/public/opcache-status/
/www/default/public/webgrind/
/www/default/public/phpmyadmin/
/www/default/public/phppgadmin/
/www/default/public/phpmemcachedadmin/
/www/default/data/settings.json
/ubuntu-xenial-16.04-cloudimg-console.log