/.vagrant/
/log/**/*.log
/www/
!/www/default/index.php
!/www/default/phpinfo.php
/config/nginx-config/sites/
!/config/nginx-config/sites/default.conf
!/config/nginx-config/sites/local-nginx-example.conf-sample
